#container {
    text-align: center;
    position: abssolute;
    top: 50%;

        margin: 30px;
    padding: 20px;
}

#contianer strong {
    font-size: 22px;
    line-height: 26px;

}

#container p {
    font-size: 22px;
    line-height: 26px;


}
#container a {
    text-decoration: none;
}

